<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dzhai.generator.mapper.GenSchemeMapper">
  <resultMap id="BaseResultMap" type="com.github.dzhai.generator.model.GenScheme">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="sub_module_name" jdbcType="VARCHAR" property="subModuleName" />
    <result column="function_name" jdbcType="VARCHAR" property="functionName" />
    <result column="function_name_simple" jdbcType="VARCHAR" property="functionNameSimple" />
    <result column="function_author" jdbcType="VARCHAR" property="functionAuthor" />
    <result column="gen_table_id" jdbcType="INTEGER" property="genTableId" />
    <result column="g_type" jdbcType="INTEGER" property="gType" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, category, package_name, module_name, sub_module_name, function_name, function_name_simple, 
    function_author, gen_table_id, g_type, remarks, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.github.dzhai.generator.model.GenSchemeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gen_scheme
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MysqlDialectSuffix" />
  </select>
  <select id="selectOneByExample" parameterType="com.github.dzhai.generator.model.GenSchemeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gen_scheme
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1 
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gen_scheme
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gen_scheme
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.github.dzhai.generator.model.GenSchemeExample">
    delete from gen_scheme
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.github.dzhai.generator.model.GenScheme" useGeneratedKeys="true">
    insert into gen_scheme (name, category, package_name, 
      module_name, sub_module_name, function_name, 
      function_name_simple, function_author, gen_table_id, 
      g_type, remarks, del_flag
      )
    values (#{name,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, 
      #{moduleName,jdbcType=VARCHAR}, #{subModuleName,jdbcType=VARCHAR}, #{functionName,jdbcType=VARCHAR}, 
      #{functionNameSimple,jdbcType=VARCHAR}, #{functionAuthor,jdbcType=VARCHAR}, #{genTableId,jdbcType=INTEGER}, 
      #{gType,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.github.dzhai.generator.model.GenScheme" useGeneratedKeys="true">
    insert into gen_scheme
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="subModuleName != null">
        sub_module_name,
      </if>
      <if test="functionName != null">
        function_name,
      </if>
      <if test="functionNameSimple != null">
        function_name_simple,
      </if>
      <if test="functionAuthor != null">
        function_author,
      </if>
      <if test="genTableId != null">
        gen_table_id,
      </if>
      <if test="gType != null">
        g_type,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="subModuleName != null">
        #{subModuleName,jdbcType=VARCHAR},
      </if>
      <if test="functionName != null">
        #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionNameSimple != null">
        #{functionNameSimple,jdbcType=VARCHAR},
      </if>
      <if test="functionAuthor != null">
        #{functionAuthor,jdbcType=VARCHAR},
      </if>
      <if test="genTableId != null">
        #{genTableId,jdbcType=INTEGER},
      </if>
      <if test="gType != null">
        #{gType,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.github.dzhai.generator.model.GenSchemeExample" resultType="java.lang.Long">
    select count(*) from gen_scheme
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gen_scheme
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.packageName != null">
        package_name = #{record.packageName,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleName != null">
        module_name = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.subModuleName != null">
        sub_module_name = #{record.subModuleName,jdbcType=VARCHAR},
      </if>
      <if test="record.functionName != null">
        function_name = #{record.functionName,jdbcType=VARCHAR},
      </if>
      <if test="record.functionNameSimple != null">
        function_name_simple = #{record.functionNameSimple,jdbcType=VARCHAR},
      </if>
      <if test="record.functionAuthor != null">
        function_author = #{record.functionAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.genTableId != null">
        gen_table_id = #{record.genTableId,jdbcType=INTEGER},
      </if>
      <if test="record.gType != null">
        g_type = #{record.gType,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gen_scheme
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      package_name = #{record.packageName,jdbcType=VARCHAR},
      module_name = #{record.moduleName,jdbcType=VARCHAR},
      sub_module_name = #{record.subModuleName,jdbcType=VARCHAR},
      function_name = #{record.functionName,jdbcType=VARCHAR},
      function_name_simple = #{record.functionNameSimple,jdbcType=VARCHAR},
      function_author = #{record.functionAuthor,jdbcType=VARCHAR},
      gen_table_id = #{record.genTableId,jdbcType=INTEGER},
      g_type = #{record.gType,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.dzhai.generator.model.GenScheme">
    update gen_scheme
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="subModuleName != null">
        sub_module_name = #{subModuleName,jdbcType=VARCHAR},
      </if>
      <if test="functionName != null">
        function_name = #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionNameSimple != null">
        function_name_simple = #{functionNameSimple,jdbcType=VARCHAR},
      </if>
      <if test="functionAuthor != null">
        function_author = #{functionAuthor,jdbcType=VARCHAR},
      </if>
      <if test="genTableId != null">
        gen_table_id = #{genTableId,jdbcType=INTEGER},
      </if>
      <if test="gType != null">
        g_type = #{gType,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.dzhai.generator.model.GenScheme">
    update gen_scheme
    set name = #{name,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      module_name = #{moduleName,jdbcType=VARCHAR},
      sub_module_name = #{subModuleName,jdbcType=VARCHAR},
      function_name = #{functionName,jdbcType=VARCHAR},
      function_name_simple = #{functionNameSimple,jdbcType=VARCHAR},
      function_author = #{functionAuthor,jdbcType=VARCHAR},
      gen_table_id = #{genTableId,jdbcType=INTEGER},
      g_type = #{gType,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="MysqlDialectSuffix">
    <if test="limitStart != null and limitEnd != null">
      <![CDATA[ limit #{limitStart} , #{limitEnd} ]]>
    </if>
    <if test="limitStart != null and limitEnd == null">
      <![CDATA[ limit #{limitStart}]]>
    </if>
  </sql>
</mapper>